/* NewLayout.css */


.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('C:\Users\User\recruitment_web\frontend\src\view\image\backround.png'); /* Thay đổi đường dẫn */
  background-size: cover; /* Đảm bảo hình ảnh phủ đầy toàn bộ trang */
  background-position: center; /* Căn giữa hình ảnh */
  background-repeat: no-repeat; /* Không lặp lại hình ảnh */
}
.who{
  height: 914px;
  width: 840px ;
  background-color: rgba(39, 37, 31, 0.7); /* Màu nền đen mờ */
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Bóng đổ */
}
.who2{
  margin-top: 200px;
}
.welcome h1 {
  color: #ffffff;
  font-size: 6rem;
  margin-bottom: 20px;
}

.welcome p {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 40px;
}

.welcome button {
  background-color: #61ffa8;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 0.3s ease;
  padding: 15px 30px;
}

.welcome button:hover {
  background-color: #dbe2ea;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Tạo khoảng cách giữa các nút */
}
